@import "tailwindcss";

@layer base {
  body {
    /* Using the color variables you provided */
    @apply bg-[rgb(22,23,24)] text-[rgb(252,252,252)] overflow-x-hidden; 
  }
}

/* Utility for Arabic Font */
.font-arabic {
  font-family: "Amiri", "Traditional Arabic", serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(22, 22, 24);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}